*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    
}



[class*="col-"]{
    min-height: 40px; 
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 4px;
    border: 1px solid white;
    background-color: rgb(70, 127, 250);
  
}

.big{
    height: 80px;
}

.green{
    background-color: rgb(21, 196, 21);
    border: 1px solid rgb(70, 127, 250);
}

.padding{
    padding: 10px;
   
}

